*{
    margin: 0px;
    padding: 0px;
    font-family: "Azeret Mono", monospace;
}

/* NAV BAR */

.nav-br{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
.logo{
    font-weight: bolder;
    font-size: 28px;
}
.resume-download button{
    padding: 17px 24px ;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #0D1321;
}

.resume-download button a{
    text-decoration: none;
    border: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #0D1321;
}

/* BANNER */

.banner-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    padding-top: 40px;
    padding-bottom: 20px;
}
.banner-text h1{
    font-size: 45px;
    font-weight: 700;
}
.banner-text p{
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
}
.banner-text img{
    height: 240px;
    width: 240px;
}
.banner-pic{
    margin-top: 30px;
    background-image: url(./assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
}
.banner-text button{
    padding: 17px 24px ;
    border-radius: 5px;
    background-color: #0D1321;
    border: none;
}
.banner-text button a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

/* body-section */

.challenge-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 230px;
    width: 950px;
    background-image: linear-gradient(to left, #FDFDFD , #edecec65);
    justify-content: space-between;
    border-radius: 10px;
    gap: 150px;
    margin-top: 40px;
    padding: 40px;
    box-shadow: 0px 0px 6px 0px #888888;
}
#second-card-bg{
    background-image: linear-gradient(to right, #FDFDFD , #edecec65);
}
.challenge-card-one h3{
    font-size: 24px;
    font-weight: 700;
}
.challenge-card-one {
    font-size: 16px;
    font-weight: 400;
}
.challenge-card-one button{
    padding: 10px 30px ;
    border-radius: 5px;
    background-color: white;
    border: 2px solid rgba(13, 19, 33, 0.7);
}
.challenge-card-one button a{
    text-decoration: none;
    border: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #0D1321;
}
.challenge-card-main{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #FAFAFB;
   height: 1200px;
   margin: 40px 85px;
   padding: 30px;
   border-radius: 10px;
   color: rgba(13, 19, 33, 0.7);
   
}
#card-headline h1{
    font-size: 32px;
    font-weight: 700;
    color: rgba(13, 19, 33, 1);
    text-align: center;
}
#card-headline p{
    text-align: center;
    font-size: 16px;
    margin-left: 150px;
    margin-right: 150px;  
}
.margin-top-heading{
    margin-top: 100px;  
}

/* YOUTUBE LINKing */


.youtube-video{
  margin-top: 50px;
  text-align: center;
  background-color: #FAFAFB;
  border-radius: 10px;
  padding: 20px;
  border: 2px solid rgba(13, 19, 33, 0.2);
}

/* htmlCssJs card */



